<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello HTML Templates</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script type="text/javascript">
        function update(currentElement){
            $.ajax({
                type: "PUT",
                contentType: 'application/json',
                data: JSON.stringify({
                    "task_id": currentElement.id,
                    "status": currentElement.checked
                }),
                url: "update",
                success: function (data) { 
                    $("#result").html("success")
              },
            });                
        }
     </script>
</head>
<body>

<div>

    <h1>Hello, Person!</h1>
    <ul>
        <li> eat well </li>
        {% for task in tasks %}
            <li><input type="checkbox" {{ "checked" if task.status == "TRUE"}} id={{task.id}} onchange="update(this)"/> {{task.task}}</li>
        {% endfor %}
    </ul>
    <div id="result"></div>

</div>

</body>
</html>